@import 'antd/dist/antd.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.wrapper{
  padding-bottom: 6rem;
}
.page-link {
  position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-link:hover{
  color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}
.page-link:focus{
  z-index: 2;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
.page-link:not(:disabled):not(.disabled){
  cursor: pointer;
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}


.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}


.pagination{
  display: flex;
}

pre{
  overflow: auto;
  margin-bottom: 40px;
  margin-top: 40px;
}

code{
  padding: 5px;
  color: hsl(210deg 8% 15%);
  background-color: hsl(210deg 8% 90%);
  border-radius: 3px;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.pagination-page-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 2rem;
  padding-right: 20px;
}
.pagination-buttons{
  
  
}

.pagination-buttons.next{
    bottom: 10px;
}

.inner-content{
  position: relative;
}

.question-content svg, .comment svg, .answer svg{
  display: none;
}

.ant-modal-body{
  padding: 0;
}

.pagination-solution{
  margin-left: auto;
  margin-right: auto;
}

code{
  padding: 5px;
  color: hsl(210deg 8% 15%);
  background-color: hsl(210deg 8% 90%);
  border-radius: 3px;
}

.solution-section{
  position: relative;
    
}

.pagination-solution-item{
  padding: 10px;
}


.question-header, .solution-section, .pagination-solution{
  margin: auto;
}
.solution-inner{
  width: 100%;
}
.pagination-solution{
  margin-top: 50px;
}


.question .tags-wrap{
  overflow: auto;
}

.question .tags-wrap .tags{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.widget{
  margin-top: 10rem;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.widget a{
  display: block;
  
  padding-bottom: 4px;
  padding-top: 4px;
  padding-right: 4px;
  line-height: 14px;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
  color: #295099;
}

@media screen and (max-width: 500px) {
  .question-header, .solution-section, .pagination-solution, .post-layout-inner{
    width: 90%;
  }
  .widget a{
    width: unset;
  }
  .widget{
    margin-top: 5rem;
    padding: 0.5rem;
  }
}

@media screen and (min-width: 501px) {
  .question-header, .solution-section, .pagination-solution, .post-layout-inner{
    width: 75%;
  }
  .widget a{
    width: 33%;
  }
}